.cards-blc {
  padding-top: 50px;
  padding-bottom: 20px;

  .cards-list {
    display: flex;
  }
}

.card-item {
  width: 250px;
  padding: 30px;
  margin: 0 30px 30px 0;
  background: #101825;

  .title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 35px;

    .card-icon {
      &-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background: $blue;
        border-radius: 50%;
      }
    }

    .name-wrap {
      display: inline-block;
      width: 54px;
      padding-top: 9px;
    }

    .name-main {
      display: block;
      font-size: 16px;
      line-height: 16px;
      color: #fff;
      font-weight: 700;
      font-family: 'Vollkorn', serif;
      text-transform: uppercase;
    }

    .name-sub {
      display: inline-block;
      font-size: 14px;
      line-height: 22px;
      color: $grey;
      text-transform: lowercase;

      &:first-letter {
        text-transform: uppercase;
      }
    }

    .percent-wrap {
      padding-top: 5px;
      font-size: 0;
      line-height: 0;
    }

    .percent-title {
      display: inline-block;
      margin-right: 5px;
      color: $grey;
      line-height: 16px;
      font-size: 14px;
    }

    .percent-amount {
      display: inline-block;
      color: #fff;
      line-height: 16px;
      font-size: 14px;
    }
  }

  .card-amount {
    margin-bottom: 9px;
    color: #fff;

    .amount-currency {
      font-size: 18px;
      line-height: 25px;
    }

    .amount-data {
      font-size: 24px;
      line-height: 33px;
      font-weight: 700;
    }
  }

  .number-info {
    .number-data {
      color: #fff;
      font-size: 14px;
      line-height: 22px;
    }

    .number-context {
      color: $grey;
      font-size: 14px;
      line-height: 22px;
      text-transform: uppercase;
    }
  }

  .day-stat {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
    font-size: 14px;
    line-height: 22px;

    .percent-dynamic {
      color: #00D98B;

      &.is-negative {
        color: #D03F20;
      }
    }

    .icon {
      width: 8px;
      height: 11px;
    }
  }
}
